   ../.Codefresh/
        ../.android/
        ../.aws/
        ../.bash_history
        ../.boto
        ../.cache/
        ../.cfconfig
        ../.datree/
        ../.docker/
        ../.eclipse/
        ../.gitconfig
        ../.gitconfig.backup
        ../.gnupg/
        ../.gradle/
        ../.gsutil/
        ../.idlerc/
        ../.jdks/
        ../.kube/
        ../.lesshst
        ../.m2/
        ../.minikube/
        ../.minttyrc
        ../.p2/
        ../.skaffold/
        ../.ssh/
        ../.viminfo
        ../.vscode/
        ../3D Objects/
        ../AppData/
        ../Contacts/
        ../Desktop/
        ../Dockerfile
        ../Dockerfile.bak
        ../Documents/
        ../Downloads/
        ../Favorites/
        ../IdeaProjects/
        ../IntelGraphicsProfiles/
        ../JaspersoftWorkspace/
        ../Links/
        ../Linting
        ../Music/
        ../NTUSER.DAT
        ../NTUSER.DAT{cc4a54f8-eb29-11ef-9825-010101010000}.TM.blf
        ../NTUSER.DAT{cc4a54f8-eb29-11ef-9825-010101010000}.TMContainer00000000000000000001.regtrans-ms
        ../NTUSER.DAT{cc4a54f8-eb29-11ef-9825-010101010000}.TMContainer00000000000000000002.regtrans-ms
        ../New folder (2)/
        ../New folder/
        ../OneDrive/
        ../Pictures/
        ../PycharmProjects/
        ../Saved Games/
        ../Searches/
        ../Test.class
        ../Test.java
        ../Videos/
        ../_viminfo
        ../abc
        ../app/
        ../battery-report.html
        ../curl/
        ../dockercoins/
        ../eclipse-workspace/
        ../eclipse/
        ../gcp/
        ../getting-started/
        ../gh/
        ../git/
        ../gitfolder/
        ../hello-world/
        ../mongo-k8s-sidecar/
        ../mychart/
        ../neg/
        ../nodeapp_test/
        ../ntuser.dat.LOG1
        ../ntuser.dat.LOG2
        ../ntuser.ini
        ../pods-scaleDown-scaleUp-script.bash
        ../pods-scaleDown-scaleUp-script.bash.bak
        ../sdk.yaml
        ../sts.yaml
        ../sts1.yaml
        "../test-secret\357\200\215.json"
        ../test.java.bak
        ../test/
        ../test1/
        ../test123/
        ../test2.json
        ../testing/